/*WELCOME SECTION*/

.img {
  margin-top: -50px;
  position: relative;
  display: block;
  background-image: url("../images/back1.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.imgCard {
  position: absolute;
  top: 65%;
  left: 20%;
  background-color: #ffffff;
  color: #002a5c;
  z-index: 1;
  width: 50%;
  height: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-weight: 600;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.imgCard span {
  position: absolute;
  margin-top: -68px;
  margin-left: -10px;
  color: #ffffff;
  background-color: #485667;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 200;
}

.imgCard button {
  position: absolute;
  margin-top: 70px;
  margin-left: -317px;
  width: 70px;
  padding: 11px;
  border: none;
  color: white;
  background-color: #337ab7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.campuStatus {
  position: absolute;
  bottom: 30px;
  height: 50px;
  background-color: #485667;
  color: #ffe498;
  width: 100%;
}

.campuStatus {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 15px;
}

.campuStatus ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.campuStatus li {
  float: right;
  margin-right: 350px;
}

.campuStatus li a{
  display: block;
  position: relative;
  width: 285px;
  color: #ffe498;
  background-color: #09203d;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition: background-color 0.5s;
}

/*NEWS SECTION*/

.News{
  height: 60vh;
  margin: auto;
  width: 50%;
  text-align: left;
  position: relative;
  margin-top: 30px;
  display: block;  
}

.News div{
  position: relative;
  margin: 5px;
}

.Newscol{
  display: inline-table;
  width: 49%;
}

.Newscol img{
  width: 100%;
  height: 200px;
}

.NewsTitle{
  padding: 10px;
  background-color: #002a5c;
  color: white;
  font-size: 18px;
  width: 100%;
  position: relative;
  text-align: center;
}

.Fecha{
  color: #485667;
}

.Encabezado,.NT{
  color: #337ab7;
}

.btn1 {
  position: relative;
  padding: 10px;
  border: none;
  color: white;
  background-color: #337ab7;
}

.btn1:hover {
  background-color: #002a5c;
  transition: background-color 0.2s;
}

/*FEATURE SECTION*/

.FeatureS{
  width: 100%;
  height: 60vh;
  text-align: left;
  position: relative;
  background-color: #002a5c;
  padding: 10px;
  margin-top: 300px;
  overflow-x: hidden;
}

.InterFS{
  background-color: #ffffff;
  color:#485667;
  height: 80%;
  margin: auto;
  width: 60%;
  margin-top: 26px;
  padding: 30px;
}

.InterFS h1{
  margin: 0;
  padding: 0;
}

.InterFS ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.InterFS li {
  display: inline;
  float: left;
}

.InterFS p {
  font-style: italic;
}

.InterFS li h1{
  color: #002a5c;
}

.InterFS li button {
  width: 285px;
  color: white;
  background-color: #002a5c;
  border-style: none;
  position: absolute;
  margin-left: 590px;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  transition: background-color .5s;
}

.InterFS li button:hover {
  background-color: #337ab7;
  transition: background-color .2s;
}

.InterFS img{
  height: 350px;
  display: inline-table;
  position: relative;
}

.sideImg{
  width: 30%;
  margin-top: -380px;
  margin-left: 550px;
  padding: 20px;
  position: absolute;
}

.sideImg img{
  width: 60px;
  height: 40px;
  margin-left: 0px;
  transition: margin-left 1s;
}

.sideImg img:hover{
  margin-left: 30px;
  transition: margin-left 1s;
}

.sideImg p{
  font-family: sans-serif;
  font-style: normal;
  font-size: 30px;
}

/*MAGAZINE SECTION*/

.Magazine{
  overflow-x: hidden;
  width: 100%;
  height: 120vh;
  text-align: left;
  position: relative;
  background-color: #858d97;
  padding: 10px;
}

.magaInner{
  color:#485667;
  height: 100%;
  margin: auto;
  width: 63%;
  margin-top: 26px;
  padding: 30px;
}

.magaDesc{
  background-color: #ffffff;
  height: 20%;
  width: 100%;
}

.magaDesc p{
  font-size: 20px;
}

.magaDesc table{
  padding: 40px;
}

.magaDesc img{
  height: 100px;
  margin-right: 40px;
}

.magaImg{
  background-image: url('../images/monroy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70%;
  width: 100%;
}

.magaImg:hover{
  background-size: 110%;
  transition: background-size 1s;
}

.imgCard2 {
  position: absolute;
  top: 75%;
  left: 20%;
  background-color: #ffffff;
  color: #485667;
  z-index: 1;
  width: 50%;
  height: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  font-weight: 600;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.imgCard2 span {
  position: absolute;
  margin-top: -68px;
  margin-left: -10px;
  color: #ffffff;
  background-color: #485667;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 200;
}

.imgCard2 p {
  font-size: 18px;
  font-weight: 100;
}