nav{
  margin:auto;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #002a5c;
}

.navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 15px;
}

.navi li {
  float: left;
}

.navi li a {
  display: block;
  position: relative;
  width: 285px;
  color: white;
  background-color: #001e42;
  border: 2px solid #002a5c;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  transition: background-color .5s;
}

.navi li a:hover {
  transition: background-color .5s;
  background-color: #2e71ab;
}

.linksHead{
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 25px;
  padding-top: 40px;
  overflow: hidden;
}

.linksHead img{
  width: 30px;
  margin-top: -5px;
}

.linksHead li{
  float: left;
}

.linksHead li:nth-last-child(-n+2) {
  float: right;
}

.linksHead li a{
  display: block;
  position: relative;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background-color .5s;
}

.App-logo{
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -105px;
}

.botno1{
  width: 110px;
  padding: 11px;
  color: white;
  border: none;
  background-color: transparent;
  border: solid 1px #2e71ab;
}

.botno2{
  width: 110px;
  padding: 11px;
  border: none;
  color: white;
  background-color: #2e71ab;
}

.botno1:hover{
  transition: background-color .2s;
  background-color: white;
  color: #2e71ab;
}

.botno1 img{
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}