.footer{
 color: white;
 overflow: hidden;
}

.footer ul{
  list-style: none;
}


.footer table{
  width: 96%;
  position: relative;
  padding: 50px;
  font-size: 18px;
  color: #e1e4e7;
}

.foote li{
  padding: 10px;
}

.fup {
  background-color: #002a5c;
  height: 50vh;
}

.fdown {
  text-align: center;
  background-color: #001228;
  height: 20vh;
  padding: 20px;
  font-size: 20x;
}

.fdown img{
  height: 30px;
}

.footer p{
  margin: 50px;
  margin-top: 40px;
}

.Flogo{
  width: 250px;
}
